################################################################################
#               Configuration file use to set HPC ressources request

# All steps are mandatory
#
#                  TEMPLATE
# step_name:{
#           name : "IOTA2_dir" #no space characters
#           nb_cpu : 1
#           ram : "4gb"
#           walltime : "00:59:00"#HH:MM:SS
#           process_min : 1 #not mandatory (default = 1)
#           process_max : 9 #not mandatory (default = number of tasks)
#           }
#
################################################################################

iota2_chain:{
             nb_cpu : 12
             ram : "10gb"
             walltime : "03:00:00"
            }

iota2_dir:{
           nb_cpu : 12
           ram : "2gb"
           walltime : "00:59:00"
          }

check_inputs : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime : "00:59:00"

                  }

samplesSelection_tiles : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime : "00:59:00"

                  }

mergeClassifications : {
                   nb_cpu:12
                   ram : "20gb"
                   walltime : "00:59:00"

                  }

model_choice : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime : "00:59:00"

                  }

preprocess_data : {
                   nb_cpu:12
                   ram : "10gb"
                   walltime:"10:00:00"

                  }

get_common_mask : {
                   nb_cpu:12
                   ram : "20gb"
                   walltime:"00:50:00"

                  }

coregistration : {
                   nb_cpu:12
                   ram : "10gb"
                   walltime:"05:00:00"

                  }

get_pixValidity : {
                   nb_cpu:12
                   ram : "10gb"
                   walltime:"03:50:00"

                   }

envelope : {
            nb_cpu:12
            ram : "10gb"
            walltime:"00:50:00"
            }

regionShape : {
               nb_cpu:12
               ram : "10gb"
               walltime:"00:50:00"
               }

splitRegions : {
                nb_cpu:12
                ram : "2gb"
                walltime:"03:00:00"
                }

extract_data_region_tiles : {
                             nb_cpu:12
                             ram : "2gb"
                             walltime:"03:00:00"
          
                             }

split_learning_val : {
                      nb_cpu:12
                      ram : "2gb"
                      walltime:"03:00:00"
   
                      }

split_learning_val_sub : {
                          nb_cpu:12
                          ram : "2gb"
                          walltime:"03:00:00"
       
                          }
split_samples : {
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 }
                 
samplesFormatting : {
                     nb_cpu:4
                     ram:"4gb"
                     walltime:"03:00:00"
  
                     }

samplesMerge: {
                nb_cpu:2
                ram:"15gb"
                walltime:"03:00:00"
               }

samplesStatistics : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                  }

samplesSelection : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                  }
samplesselection_tiles : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                  }
samplesManagement : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                  }

vectorSampler : {
                 nb_cpu:12
                 ram : "20gb"
                 walltime:"10:59:00"
                 }

dimensionalityReduction : {
               nb_cpu:12
               nb_MPI_process:2
               ram : "2gb"
               walltime : "03:59:00"}

samplesAugmentation : {
                       nb_cpu:12
                       ram : "2gb"
                       walltime:"03:00:00"
                       }

mergeSample : {
               nb_cpu:12
               ram : "2gb"
               walltime:"03:00:00"
               }

stats_by_models : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                   }

training : {
            nb_cpu:12
            ram : "20gb"
            walltime:"03:00:00"
            }

cmdClassifications : {
                      nb_cpu:12
                      ram : "3gb"
                      walltime:"00:59:00"
   
                      }

classifications : {
                   nb_cpu:12
                   ram : "20gb"
                   walltime:"00:59:00"

                   }

classifShaping : {
                  nb_cpu:12
                  ram : "20gb"
                  walltime:"00:59:00"
                  }

gen_confusionMatrix : {
                       nb_cpu:12
                       ram : "2gb"
                       walltime:"00:59:00"
    
                       }

confusionMatrix : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"00:59:00"

                   }
gen_confusion_matrix : {
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"00:59:00"

                   }

fusion : {
          nb_cpu:12
          ram : "2gb"
          walltime:"03:00:00"
          }

noData : {
          nb_cpu:12
          ram : "2gb"
          walltime:"03:00:00"
          }

statsReport : {
               nb_cpu:12
               ram : "2gb"
               walltime:"03:00:00"
               }

confusionMatrixFusion : {
                         nb_cpu:12
                         ram : "2gb"
                         walltime:"03:00:00"
      
                         }

merge_final_classifications : {
                           nb_cpu:1
                           ram:"4gb"
                           walltime:"03:00:00"
                          }

reportGen : {
             nb_cpu:12
             ram : "2gb"
             walltime:"03:00:00"
             }

mergeOutStats : {
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 }

SAROptConfusionMatrix : {
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 }

SAROptConfusionMatrixFusion : {
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 }

SAROptFusion : {
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 }
clump : {
		 nb_cpu:1
		 ram:"5000mb"
		 walltime:"03:00:00"
		 }

grid : {
		 nb_cpu:1
		 ram:"5000mb"
		 walltime:"03:00:00"
		 }

vectorisation : {
                 nb_cpu:1
                 ram:"5000mb"
		         walltime:"03:00:00"
		         }

crownsearch : {
                nb_cpu:1
                ram:"5000mb"
                walltime:"03:00:00"
                }

crownbuild : {
                nb_cpu:1
                ram:"5000mb"
                walltime:"03:00:00"
                }

statistics : {
                nb_cpu:1
                ram:"5000mb"
                walltime:"03:00:00"
                }

join : {
		 nb_cpu:1
		 ram:"5000mb"
		 walltime:"03:00:00"
		 }

