################################################################################
#               Configuration file use to set HPC ressources request

# All steps are mandatory
#
#                  TEMPLATE
# step_name:{
#           name : "IOTA2_dir" #no space characters
#           nb_cpu : 1
#           ram : "4gb"
#           walltime : "00:59:00"#HH:MM:SS
#           process_min : 1 #not mandatory (default = 1)
#           process_max : 9 #not mandatory (default = number of tasks)
#           }
#
################################################################################

iota2_chain:{
             name : "IOTA2"
             nb_cpu : 12
             ram : "10gb"
             walltime : "03:00:00"
            }

iota2_dir:{
           name : "IOTA2_dir"
           nb_cpu : 12
           ram : "2gb"
           walltime : "00:59:00"
           process_min : 1
          }

check_inputs : {
                   name:"check_inputs"
                   nb_cpu:12
                   ram : "2gb"
                   walltime : "00:59:00"

                  }

samplesSelection_tiles : {
                   name:"samplesSelection_tiles"
                   nb_cpu:12
                   ram : "2gb"
                   walltime : "00:59:00"

                  }

mergeClassifications : {
                   name:"mergeClassifications"
                   nb_cpu:12
                   ram : "20gb"
                   walltime : "00:59:00"

                  }

model_choice : {
                   name:"model_choice"
                   nb_cpu:12
                   ram : "2gb"
                   walltime : "00:59:00"

                  }

preprocess_data : {
                   name:"preprocess_data"
                   nb_cpu:12
                   ram : "10gb"
                   walltime:"10:00:00"

                  }

get_common_mask : {
                   name:"CommonMasks"
                   nb_cpu:12
                   ram : "20gb"
                   walltime:"00:50:00"

                  }

coregistration : {
                   name:"Coregistration"
                   nb_cpu:12
                   ram : "10gb"
                   walltime:"05:00:00"

                  }

get_pixValidity : {
                   name:"NbView"
                   nb_cpu:12
                   ram : "10gb"
                   walltime:"03:50:00"

                   }

envelope : {
            name:"Envelope"
            nb_cpu:12
            ram : "10gb"
            walltime:"00:50:00"
            process_min : 1
            }

regionShape : {
               name:"regionShape"
               nb_cpu:12
               ram : "10gb"
               walltime:"00:50:00"
               process_min : 1
               }

splitRegions : {
                name:"splitRegions"
                nb_cpu:12
                ram : "2gb"
                walltime:"03:00:00"
                process_min : 1
                }

extract_data_region_tiles : {
                             name:"extract_data_region_tiles"
                             nb_cpu:12
                             ram : "2gb"
                             walltime:"03:00:00"
          
                             }

split_learning_val : {
                      name:"split_learning_val"
                      nb_cpu:12
                      ram : "2gb"
                      walltime:"03:00:00"
   
                      }

split_learning_val_sub : {
                          name:"split_learning_val_sub"
                          nb_cpu:12
                          ram : "2gb"
                          walltime:"03:00:00"
       
                          }
split_samples : {
                 name:"split_samples"
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 process_min : 1
                 }
                 
samplesFormatting : {
                     name:"samples_formatting"
                     nb_cpu:4
                     ram:"4gb"
                     walltime:"03:00:00"
  
                     }

samplesMerge: {
                name:"samples_merges"
                nb_cpu:2
                ram:"15gb"
                walltime:"03:00:00"
                process_min : 1
               }

samplesStatistics : {
                   name:"samples_stats"
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                  }

samplesSelection : {
                   name:"samples_selection"
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                  }
samplesselection_tiles : {
                   name:"samplesSelection_tiles"
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                  }
samplesManagement : {
                   name:"samples_management"
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                  }

vectorSampler : {
                 name:"vectorSampler"
                 nb_cpu:12
                 ram : "20gb"
                 walltime:"10:59:00"
                 process_min : 1
                 }

dimensionalityReduction : {
               name:"dimensionalityReduction"
               nb_cpu:12
               nb_MPI_process:2
               ram : "2gb"
               nb_chunk:1
               walltime : "03:59:00"}

samplesAugmentation : {
                       name:"samplesAugmentation"
                       nb_cpu:12
                       ram : "2gb"
                       walltime:"03:00:00"
                       }

mergeSample : {
               name:"mergeSample"
               nb_cpu:12
               ram : "2gb"
               walltime:"03:00:00"
               process_min : 1
               }

stats_by_models : {
                   name:"stats_by_models"
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"03:00:00"

                   }

training : {
            name:"training"
            nb_cpu:12
            ram : "20gb"
            walltime:"03:00:00"
            process_min : 1
            }

cmdClassifications : {
                      name:"cmdClassifications"
                      nb_cpu:12
                      ram : "3gb"
                      walltime:"00:59:00"
   
                      }

classifications : {
                   name:"classifications"
                   nb_cpu:12
                   ram : "20gb"
                   walltime:"00:59:00"

                   }

classifShaping : {
                  name:"classifShaping"
                  nb_cpu:12
                  ram : "20gb"
                  walltime:"00:59:00"
                  process_min : 1
                  }

gen_confusionMatrix : {
                       name:"genCmdconfusionMatrix"
                       nb_cpu:12
                       ram : "2gb"
                       walltime:"00:59:00"
    
                       }

confusionMatrix : {
                   name:"confusionMatrix"
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"00:59:00"

                   }
gen_confusion_matrix : {
                   name:"gen_confusion_matrix"
                   nb_cpu:12
                   ram : "2gb"
                   walltime:"00:59:00"

                   }

fusion : {
          name:"fusion"
          nb_cpu:12
          ram : "2gb"
          walltime:"03:00:00"
          process_min : 1
          }

noData : {
          name:"noData"
          nb_cpu:12
          ram : "2gb"
          walltime:"03:00:00"
          process_min : 1
          }

statsReport : {
               name:"statsReport"
               nb_cpu:12
               ram : "2gb"
               walltime:"03:00:00"
               process_min : 1
               }

confusionMatrixFusion : {
                         name:"confusionMatrixFusion"
                         nb_cpu:12
                         ram : "2gb"
                         walltime:"03:00:00"
      
                         }

merge_final_classifications : {
                           name:"merge_final_classifications"
                           nb_cpu:1
                           ram:"4gb"
                           walltime:"03:00:00"
                          }

reportGen : {
             name:"reportGeneration"
             nb_cpu:12
             ram : "2gb"
             walltime:"03:00:00"
             process_min : 1
             }

mergeOutStats : {
                 name:"mergeOutStats"
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 process_min : 1
                 }

SAROptConfusionMatrix : {
                 name:"SAROptConfusionMatrix"
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 process_min : 1
                 }

SAROptConfusionMatrixFusion : {
                 name:"SAROptConfusionMatrixFusion"
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 process_min : 1
                 }

SAROptFusion : {
                 name:"SAROptFusion"
                 nb_cpu:12
                 ram : "2gb"
                 walltime:"03:00:00"
                 process_min : 1
                 }
clump : {
         name:"clump"
		 nb_cpu:1
		 ram:"5000mb"
		 walltime:"03:00:00"
		 process_min:1}

grid : {
         name:"grid"
		 nb_cpu:1
		 ram:"5000mb"
		 walltime:"03:00:00"
		 process_min:1}

vectorisation : {
                 name:"vectorisation"
                 nb_cpu:1
                 ram:"5000mb"
		         walltime:"03:00:00"
		         process_min:1}

crownsearch : {
                name:"crownsearch"
                nb_cpu:1
                ram:"5000mb"
                walltime:"03:00:00"
                process_min:1}

crownbuild : {
                name:"crownbuild"
                nb_cpu:1
                ram:"5000mb"
                walltime:"03:00:00"
                process_min:1}

statistics : {
                name:"statistics"
                nb_cpu:1
                ram:"5000mb"
                walltime:"03:00:00"
                process_min:1}

join : {
         name:"join"
		 nb_cpu:1
		 ram:"5000mb"
		 walltime:"03:00:00"
		 process_min:1}

